*
!app/app
!app/bin
!app/config
!app/db
!app/lib
!app/public
!app/config.ru
!app/Gemfile
!app/Gemfile.lock
!app/package.json
!app/.babelrc
!app/Rakefile
!app/log/.keep
!app/tmp/.keep

!api/app
!api/bin
!api/config
!api/db
!api/lib
!api/public
!api/config.ru
!api/Gemfile
!api/Gemfile.lock
!api/package.json
!api/.babelrc
!api/Rakefile
!api/log/.keep
!api/tmp/.keep
